html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y:hidden;

}

body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
	  background: linear-gradient(to right, green , blue);
		height: 100%;
		width: 100%;
}

h1 {
    font: 600 3em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
		bottom: auto;

}

.div1{
	padding: 10px;
	margin: 10px;
}

.div2{
	padding: 10px;
	margin: 10px;
	display:inline-flex;
	justify-content: center;

}

input{
	border: 0;
	padding: 0;
}

.div2>button{
	height: auto;
	width: 100px;
	margin: 10px;
	padding: 5px;
	background-color: #7fbf90;
	border: 0;
	color: white;
}

.div3>button{
	background-color: #7fbf90;
	border: 0;
	font-size: 1.5rem;
	color: white;
	height: 50px;
	width: 15%;
}
